container_commands:
  # Crontab will place cron tasks as root if the user doesn't have a home directory.
  ensureWebappCanRunCron:
    command: sudo mkdir -p /home/webapp ; sudo chown -R webapp:webapp /home/webapp
  # Adds a cron entry that checks for leader selection every 5 minutes
  runLeaderSelectionCRON:
    command: sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php artisan system:start:leaderselection"
  # Does an initial leader selection check
  runLeaderSelection:
    command: sudo -u webapp bash -c ". /opt/elasticbeanstalk/support/envvars ; /usr/bin/php artisan aws:configure:leader"
